//
// SPDX-License-Identifier: BSD-3-Clause
//
{{- if and .Release .Title }}
// {{ .Release }} - {{ .Title }}
{{- end }}

package {{ .Package }}

{{- $needsImports := false }}
{{- range .Structs }}
{{- if or (and .IsEntity (gt (len .ReadWriteProperties) 0)) .HasActions .HasLinks }}
{{- $needsImports = true }}
{{- end }}
{{- end }}
{{- if $needsImports }}

import (
	"encoding/json"
{{- if ne .Package "common" }}

	"github.com/stmcginnis/gofish/common"
{{- end }}
)
{{- end }}
{{- $pkg := "" }}
{{- if ne .Package "common" }}
{{- $pkg = "common." }}
{{- end }}
{{- range .Enums }}

{{ .Description }}
type {{ .Name }} string

const (
{{- $enumType := .Name }}
{{- range .Values }}
{{ .Description }}
	{{ .Name }} {{ $enumType }} = "{{ .Value }}"
{{- end }}
)
{{- end }}
{{- range .Structs }}
{{- $structName := .Name }}
{{- $receiverName := .ReceiverName }}

{{ .Description }}
type {{ .Name }} struct {
{{- if .IsEntity }}
	{{ $pkg }}Entity
{{- end }}
{{- range .Properties }}
{{ .Description }}
	{{ .Name }} {{ .TypeString }} {{ .JSONTag }}
{{- end }}
{{- range .Actions }}
	// {{ .TargetField }} is the URL to send {{ .Name }} requests.
	{{ .TargetField }} string
{{- end }}
{{- range .Links }}
	// {{ .FieldName }} {{- if .IsArray }} are the URIs{{ else }} is the URI{{ end }} for {{ .Name }}.
	{{ .FieldName }} {{if .IsArray}}[]string{{else}}string{{end}}
{{- end }}
{{- if and .IsEntity (gt (len .ReadWriteProperties) 0) }}
	// rawData holds the original serialized JSON so we can compare updates.
	rawData []byte
{{- end }}
}
{{- if or (and .IsEntity (gt (len .ReadWriteProperties) 0)) .HasActions .HasLinks .HasLinkProperties }}

// UnmarshalJSON unmarshals a {{ .Name }} object from the raw JSON.
func ({{ .ReceiverName }} *{{ .Name }}) UnmarshalJSON(b []byte) error {
	type temp {{ .Name }}
{{- if .HasActions }}
	type {{ .ReceiverName }}Actions struct {
{{- range .Actions }}
		{{ .Name }} {{ $pkg }}ActionTarget `json:"{{ .JSONName }}"`
{{- end }}
	}
{{- end }}
{{- if .HasLinks }}
	type {{ .ReceiverName }}Links struct {
{{- range .Links }}
{{- if .IsArray }}
		{{ .Name }} {{ $pkg }}Links `json:"{{ .JSONName }}"`
{{- else }}
		{{ .Name }} {{ $pkg }}Link `json:"{{ .JSONName }}"`
{{- end }}
{{- end }}
	}
{{- end }}
{{- if .HasLinkProperties }}
	type {{ .ReceiverName }}LinkProps struct {
{{- range .Properties }}
{{- if and .IsLink .LinkType }}
{{- if .IsArray }}
		{{ .GetterMethod }} {{ $pkg }}Links `json:"{{ .Name }}"`
{{- else }}
		{{ .GetterMethod }} {{ $pkg }}Link `json:"{{ .Name }}"`
{{- end }}
{{- end }}
{{- end }}
	}
{{- end }}
	var t struct {
		temp
{{- if .HasActions }}
		Actions {{ .ReceiverName }}Actions
{{- end }}
{{- if .HasLinks }}
		Links {{ .ReceiverName }}Links
{{- end }}
{{- if .HasLinkProperties }}
		LinkProps {{ .ReceiverName }}LinkProps
{{- end }}
	}

	err := json.Unmarshal(b, &t)
	if err != nil {
		return err
	}

	*{{ .ReceiverName }} = {{ .Name }}(t.temp)

	// Extract the links to other entities for later
{{- range .Actions }}
	{{ $receiverName }}.{{ .TargetField }} = t.Actions.{{ .Name }}.Target
{{- end }}
{{- range .Links }}
{{- if .IsArray }}
	{{ $receiverName }}.{{ .FieldName }} = t.Links.{{ .Name }}.ToStrings()
{{- else }}
	{{ $receiverName }}.{{ .FieldName }} = t.Links.{{ .Name }}.String()
{{- end }}
{{- end }}
{{- range .Properties }}
{{- if and .IsLink .LinkType }}
{{- if .IsArray }}
	{{ $receiverName }}.{{ .Name }} = t.LinkProps.{{ .GetterMethod }}.ToStrings()
{{- else }}
	{{ $receiverName }}.{{ .Name }} = t.LinkProps.{{ .GetterMethod }}.String()
{{- end }}
{{- end }}
{{- end }}
{{- if and .IsEntity (gt (len .ReadWriteProperties) 0) }}

	// This is a read/write object, so we need to save the raw object data for later
	{{ .ReceiverName }}.rawData = b
{{- end }}

	return nil
}
{{- end }}
{{- if and .IsEntity (gt (len .ReadWriteProperties) 0) }}

// Update commits updates to this object's properties to the running system.
func ({{ .ReceiverName }} *{{ .Name }}) Update() error {
	readWriteFields := []string{

{{- range .ReadWriteProperties }}
		"{{ . }}",
{{- end }}
	}

	return {{ .ReceiverName }}.UpdateFromRawData({{ .ReceiverName }}, {{ .ReceiverName }}.rawData, readWriteFields)
}
{{- end }}
{{- if and .IsMainType .IsEntity }}

// Get{{ .Name }} will get a {{ .Name }} instance from the service.
func Get{{ .Name }}(c {{ $pkg }}Client, uri string) (*{{ .Name }}, error) {
	return {{ $pkg }}GetObject[{{ .Name }}](c, uri)
}

// ListReferenced{{ .Name }}s gets the collection of {{ .Name }} from
// a provided reference.
func ListReferenced{{ .Name }}s(c {{ $pkg }}Client, link string) ([]*{{ .Name }}, error) {
	return {{ $pkg }}GetCollectionObjects[{{ .Name }}](c, link)
}
{{- end }}
{{- range .Actions }}

// {{ .Name }} {{ .Description }}
{{- range $i, $p := .Parameters }}
{{ $p.Description }}
{{- end }}
{{- if .ResponseType }}
func ({{ $receiverName }} *{{ $structName }}) {{ .Name }}({{- range $i, $p := .Parameters }}{{- if $i }}, {{ end }}{{ $p.Name }} {{ $p.Type }}{{- end }}) (*{{ .ResponseType }}, error) {
	payload := make(map[string]interface{})
{{- range .Parameters }}
	payload["{{ .Name }}"] = {{ .Name }}
{{- end }}

	resp, err := {{ $receiverName }}.PostWithResponse({{ $receiverName }}.{{ .TargetField }}, payload)
	if err != nil {
		return nil, err
	}
	defer resp.Body.Close()

	if resp.StatusCode < 200 || resp.StatusCode >= 300 {
		return nil, {{ $pkg }}CleanupHTTPResponse(resp)
	}

	var result {{ .ResponseType }}
	err = json.NewDecoder(resp.Body).Decode(&result)
	if err != nil {
		return nil, err
	}

	return &result, nil
}
{{- else }}
func ({{ $receiverName }} *{{ $structName }}) {{ .Name }}({{- range $i, $p := .Parameters }}{{- if $i }}, {{ end }}{{ $p.Name }} {{ $p.Type }}{{- end }}) error {
	payload := make(map[string]interface{})
{{- range .Parameters }}
	payload["{{ .Name }}"] = {{ .Name }}
{{- end }}
	return {{ $receiverName }}.Post({{ $receiverName }}.{{ .TargetField }}, payload)
}
{{- end }}
{{- end }}
{{- range .Links }}
{{- if .IsArray }}

// {{ .Name }} gets the {{ .Name }} linked resources.
func ({{ $receiverName }} *{{ $structName }}) {{ .Name }}(client {{ $pkg }}Client) ([]*{{ .Type }}, error) {
	return {{ $pkg }}GetObjects[{{ .Type }}](client, {{ $receiverName }}.{{ .FieldName }})
}
{{- else }}

// {{ .Name }} gets the {{ .Name }} linked resource.
func ({{ $receiverName }} *{{ $structName }}) {{ .Name }}(client {{ $pkg }}Client) (*{{ .Type }}, error) {
	if {{ $receiverName }}.{{ .FieldName }} == "" {
		return nil, nil
	}
	return {{ $pkg }}GetObject[{{ .Type }}](client, {{ $receiverName }}.{{ .FieldName }})
}
{{- end }}
{{- end }}
{{- range .Properties }}
{{- if and .IsLink .LinkType }}
{{- if .IsCollection }}

// {{ .GetterMethod }} gets the {{ .GetterMethod }} collection.
func ({{ $receiverName }} *{{ $structName }}) {{ .GetterMethod }}(client {{ $pkg }}Client) ([]*{{ .LinkType }}, error) {
	if {{ $receiverName }}.{{ .Name }} == "" {
		return nil, nil
	}
	return {{ $pkg }}GetCollectionObjects[{{ .LinkType }}](client, {{ $receiverName }}.{{ .Name }})
}
{{- else if .IsArray }}

// {{ .GetterMethod }} gets the {{ .GetterMethod }} linked resources.
func ({{ $receiverName }} *{{ $structName }}) {{ .GetterMethod }}(client {{ $pkg }}Client) ([]*{{ .LinkType }}, error) {
	return {{ $pkg }}GetObjects[{{ .LinkType }}](client, {{ $receiverName }}.{{ .Name }})
}
{{- else }}

// {{ .GetterMethod }} gets the {{ .GetterMethod }} linked resource.
func ({{ $receiverName }} *{{ $structName }}) {{ .GetterMethod }}(client {{ $pkg }}Client) (*{{ .LinkType }}, error) {
	if {{ $receiverName }}.{{ .Name }} == "" {
		return nil, nil
	}
	return {{ $pkg }}GetObject[{{ .LinkType }}](client, {{ $receiverName }}.{{ .Name }})
}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
