# Project-specific files to ignore.
#
# Don't add patterns to exclude files created by preferred personal tools
# (editors, IDEs, your operating system itself even). These should instead be
# maintained outside the repository, for example in a ~/.gitignore file added
# with:
#
# git config --global core.excludesfile '~/.gitignore'
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

gofish
bin/*
**/env/*
**/gofiles/*
**/*.zip
**/DSP*
