name: Checks
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    # Get the code
    - uses: actions/checkout@v5

    # Setup our go environment
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    # Build the code
    - name: Run build
      run: go build .

    # Run unit tests
    - name: Run tests
      run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    # Setup our go environment
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1.6
